<div class="mdui-bottom-nav-fixed">
        <div class="mdui-bottom-nav mdui-bottom-nav-text-auto mdui-bottom-nav-scroll-hide mdui-color-indigo">
            <a href="/cool/start" class="mdui-ripple mdui-ripple-white mdui-bottom-nav-active">
			    <i class="mdui-icon material-icons">music_note</i>
			    <label>Derek</label>
			  </a>
        </div>
    </div>
    <script type="text/javascript" src="/mdui-v0.4.1/js/mdui.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="/js/Blob.js"></script>
    <script type="text/javascript" src="/js/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</body>
</html>